option_settings:
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDEc8fP5YkVifDVt+PTww7PuJAVflTnxnOdMvzLkIVwvume6z/aXpfHVQhNY3KAGUI+gfF1HdkKOHMmacoe4yLuCTz6XjYUjK7nwFlUQp8uqqN7sHkWL0vwUvbqOaL5ZaLf+wF+Z3pUV6dF/UFTpWvMDFYMdb8W8uOxNeHMcDIQ2CWxhFGCm23ez1ZA3DqIxCiEzYpNdH03lJycSdo8Ii3u1Kz1AJbAKBb5X+j3dhic+anXvSnGq0G3WYt+ZxHGjNTE/yl0gg1tRBza1qQdkcEYWvFZ2vgEDfFE2miFHIJfkfihKNki5ob/1FvA+dL8SnRx/sAshGVCkPQjUrrcMUE6UyO2tNRgLv44rFdnudCw1t4bE7ZPogJWvIKNoSIGX/In64dee8qkSpemXMmNLzsfCtysBDuRcB/zVWBpIgT0LOFq2dflM7IxiXj1x+nV0ZXpuOxtL5Gm6dq0011DBwRlnDSI45YJejDTs3jAPKB4SKN3I7qCRuUWSWl1IYPjHqk= aws-eb
