option_settings:
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAABlwAAAAdzc2gtcn
NhAAAAAwEAAQAAAYEAxHPHz+WJFYnw1bfj08MOz7iQFX5U58ZznTL8y5CFcL7pnus/2l6X
x1UITWNygBlCPoHxdR3ZCjhzJmnKHuMi7gk8+l42FIyu58BZVEKfLqqje7B5Fi9L8FL26j
mi+WWi3/sBfmd6VFenRf1BU6VrzAxWDHW/FvLjsTXhzHAyENglsYRRgptt3s9WQNw6iMQo
hM2KTXR9N5ScnEnaPCIt7tSs9QCWwCgW+V/o93YYnPmp170pxqtBt1mLfmcRxozUxP8pdI
INbUQc2takHZHBGFrxWdr4BA3xRNpohRyCX5H4oSjZIuaG/9RbwPnS/Ep0cf7ALIRlQpD0
I1K63DFBOlMjtrTUYC7+OKxXZ7nQsNbeGxO2T6ICVryCjaEiBl/yJ+uHXnvKpEqXplzJjS
87HwrcrAQ7kXAf81VgaSIE9CzhatnX5TOyMYl49cfp1dGV6bjsbS+RpunatNNdQwcEZZw0
iOOWCXow07N4wDygeEijdyO6gkblFklpdSGD4x6pAAAFgByQ7scckO7HAAAAB3NzaC1yc2
EAAAGBAMRzx8/liRWJ8NW349PDDs+4kBV+VOfGc50y/MuQhXC+6Z7rP9pel8dVCE1jcoAZ
Qj6B8XUd2Qo4cyZpyh7jIu4JPPpeNhSMrufAWVRCny6qo3uweRYvS/BS9uo5ovllot/7AX
5nelRXp0X9QVOla8wMVgx1vxby47E14cxwMhDYJbGEUYKbbd7PVkDcOojEKITNik10fTeU
nJxJ2jwiLe7UrPUAlsAoFvlf6Pd2GJz5qde9KcarQbdZi35nEcaM1MT/KXSCDW1EHNrWpB
2RwRha8Vna+AQN8UTaaIUcgl+R+KEo2SLmhv/UW8D50vxKdHH+wCyEZUKQ9CNSutwxQTpT
I7a01GAu/jisV2e50LDW3hsTtk+iAla8go2hIgZf8ifrh157yqRKl6ZcyY0vOx8K3KwEO5
FwH/NVYGkiBPQs4WrZ1+UzsjGJePXH6dXRlem47G0vkabp2rTTXUMHBGWcNIjjlgl6MNOz
eMA8oHhIo3cjuoJG5RZJaXUhg+MeqQAAAAMBAAEAAAGBALHrEfmtLnv9U8qbIpD0xYNG6e
ctZQQMbUTfmqdaGiBEJx0wfcHtjZSP5FcCS/7L4Xzu/plNEPX6rf8KLG3Q1B+06i7uCBiQ
WQ+22rA/Lh97l1g8OU3oQ+RBnzH+RSWN8PbdQzsRyG5+fBYdCX8SABDq0zuxoADOtXwXCo
q2ygELYQfmiFO7JMR4DuvrCHA5B2FPLYR8jbM6uqOpFycC5Yq5vnKdt+oL5NKxFDKaGCyC
yFmFDkLJc1j0litCeYzSmYBIqllqw+72xmaJzTIUC+XBjs1kQaizc3MdiYSbCRl+tfiyYR
6bLadqpBZBX7zDp8WG27PKhk3lgJMcUGAAR7URmICNrhK+6fuGWnbK/3R2ToAJCSw7pI/L
Gy1UVIOirOiBZF9jazwgYM1lxT5UBwn9119gDSf9O2jXiEVrKysirH/Clc4/PCpCn78n83
XKwC0ZdVPsf0cU5vr+DMbauxGBwiPgaT2r14Dmir3Y/4az+N2U45wCooOPZACJRojK6QAA
AMAUoKAmae1a2k66hPpG9rgGGsgPIczyNHHgpk88LUrDUjGdJCCV1H8Ff9KH1UECA+pKQO
F5eoHnaW90ywxveYj2ooJ0TSHcIT8wKlB31+VzRh2D8N+nQN5386Of6pS5k1oRSIZ1JTIa
6oZeqeuoS7oXbXCHzK82MdfQFBhbfmGK2g0c17qyhW+qwymOLgGK1u5cFptNzAFfZ7sAnA
RqJjbbqlphKAmwr/qhMnlAsSUBbG09FJI4H5TWTrac2pVoHFQAAADBAPa7HBV9m5d+r7KR
X/Tp6HzeZGNVC1Y8hKgdUckdzFQ8vAdgJB578YBss03s/PNROxnCwGCM4f/hNTULyQktM3
Rj1t1/vqeKY+OL5ig3GAjpP44MdSNCrond8ebc4x4ge1O9lRS0r/ks/CY25urfKiKSHBdD
RVIfliGquRUVVoWtSq11t9BFIrQQ1HH4G4fa51i2y2mj5w762GGnIssoQFHCnT6s6ISxVi
bIWE058+oupRHQNhtDjwz3Vb4JCPf+8wAAAMEAy9UgBUqWUQLC8HVH5zHSi0NSa+MDmD03
eyKiQQjbV3oxlm1JjmrKNbopRPQ5vHYwiD7BGUG3CH60K9arCUfOKF8WzfvfhV1SRGzIzJ
YCKYeGJVfjHcX3mN8+CU5PEqhohX+fzQ+YnO+S74tcepMwinJYgl17b5FkjbAilYiTu3Hi
I766b4CpLCp0Y+VlBdSQvNbz9ATnDnCQ2y+24VGvQu/W6OYhTJ+QaMM5NG2tHfi7oYD0di
sQ7laXJPq5RurzAAAABmF3cy1lYgECAwQ=